# SPDX-License-Identifier: GPL-3.0-or-later

mainmenu "$(repo-name)/$(host-arch)-$(host-name) $(repo-version) Configuration"

$(warn-off)

source "scripts/Kconfig.compile"

source "scripts/Kconfig.feature"
